<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Junhee Park">
        <meta name="description" content="Main Page of the Wheely">
        <link rel="icon" type="image/png" href="../public/img/favicon.png" />
        <title>Wheely</title>
        
        <!-- normalize.css for cross-browser stuff -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

        <!-- include required fonts -->
        <!-- Montserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

        <!--Link to my css -->
        <link rel="stylesheet" href="../public/style_main_results.css">

    </head>
    <body>
        <!-- Finds the relevant car and tracks its index to allow for easier information matching. -->
        <% let array_val = -1; %>
        <% for (let i = 0; i < ListingList.length; i++) { %>
            <% if (car.car_id === ListingList[i].car_id) { %>
                <% array_val = i; %>
            <% } %>
        <% } %>
        <!-- Navigation Bar -->
        <nav class="top-nav">
            <li><a href="/"><img class="logo" src= "../public/img/logo+name.png" alt="logo"></a></li>
            <div class="navbar">
                <li class="upload-button"><a href="/car_upload_page">Upload my vehicle</a></li>
                <li><a href="#">Log-In</a></li>
            </div>
        </nav>
        <!-- Header Elements with Images -->
        <header>
            <div class="image-grid">
                <!-- This image shown on the page is the same for every single car; not sure why. -->
                <img class="image-grid-col-2 image-grid-row-2" src="<%= imageList[array_val].image %>" alt="architecture">
                <img src="../public/img/car-picture-1.5.png" alt="car-picture-1.5">
                <img src="../public/img/car-picture-2.png" alt="car-picture-2">
                <img src="../public/img/car-picture-3.png" alt="car-picture-3">
                <img src="../public/img/car-picture-4.png" alt="car-picture-4">
            </div>
        </header>
        <!-- Detailed Car Info Page -->
        <main>
            <div class="info-payment-column">
                <div>
                    <section class="container">
                        <div class="vehicle-info">
                            <h1><%= car.car_model%></h1>
                            <p><%= car.parking_city%>, <%= car.parking_state%></p>
                            <p class="rating">★ <%= car.car_rating%></p>
                        </div>
                        <div class="separate"></div>
                        <div class="profile-info">
                            <img src="../public/img/ariel-profile.png" alt="profile image">
                            <div class="text">
                                    <p class="profile-name">Owned by <%= ListingList[array_val].owner_name %></p>
                                <p class="hosting">Hosting for 4 years</p>
                            </div>
                        </div>
                        <div class="separate"></div>
                    </section>

                    <div class="title-section result">
                        <h2>Reviews</h2>
                    </div>
                    
                    <section class="review-container">
                        <div class="carousel-container review-cards">
                            <div class="review-card">
                                <img src="../public/img/drake-profile.png" alt="profile image">
                                <div class="text">
                                    <div class="review-header">
                                            <p class="reviewee">Drake</p>
                                        <p class="when">1 week ago</p>
                                    </div>
                                    <p class="rates">★★★★★</p>
                                    <p class="comment">Owner was easy to communicate with, when I was visiting Washington. The car was also family friendly good with three toddlers and two adults.</p>
                                </div>
                            </div>
                            
                            <div class="review-card">
                                <img src="../public/img/drake-profile.png" alt="profile image">
                                <div class="text">
                                    <div class="review-header">
                                        <p class="reviewee">Drake</p>
                                        <p class="when">1 week ago</p>
                                    </div>
                                    <p class="rates">★★★★★</p>
                                    <p class="comment">Owner was easy to communicate with, when I was visiting Washington. The car was also family friendly good with three toddlers and two adults.</p>
                                </div>
                            </div>
                            <div class="review-card">
                                <img src="../public/img/drake-profile.png" alt="profile image">
                                <div class="text">
                                    <div class="review-header">
                                        <p class="reviewee">Drake</p>
                                        <p class="when">1 week ago</p>
                                    </div>
                                    <p class="rates">★★★★★</p>
                                    <p class="comment">Owner was easy to communicate with, when I was visiting Washington. The car was also family friendly good with three toddlers and two adults.</p>
                                </div>
                            </div>
                            <div class="review-card">
                                <img src="../public/img/drake-profile.png" alt="profile image">
                                <div class="text">
                                    <div class="review-header">
                                        <p class="reviewee">Drake</p>
                                        <p class="when">1 week ago</p>
                                    </div>
                                    <p class="rates">★★★★★</p>
                                    <p class="comment">Owner was easy to communicate with, when I was visiting Washington. The car was also family friendly good with three toddlers and two adults.</p>
                                </div>
                            </div>
                            <div class="review-card">
                                <img src="../public/img/drake-profile.png" alt="profile image">
                                <div class="text">
                                    <div class="review-header">
                                        <p class="reviewee">Drake</p>
                                        <p class="when">1 week ago</p>
                                    </div>
                                    <p class="rates">★★★★★</p>
                                    <p class="comment">Owner was easy to communicate with, when I was visiting Washington. The car was also family friendly good with three toddlers and two adults.</p>
                                </div>
                            </div> 
                        </div>
                        <script src="../public/carousel.js"></script>
                    </section>
                </div>
                <!-- purchase card -->
                <section class="payment-container">
                    <div class="serviceCard">
                        <div class="cardContent">
                        <p class="cost">$<%= car.car_price_per_day%>/day</p> 
                        <!-- Cuts date string from 2024-xx-xx to xx-xx for easier readability-->
                        <p class="date"><%= ListingList[array_val].date_rented.substr(5)%> to <%= ListingList[array_val].date_returned.substr(5)%></p> 
                        <!-- <a class="centerButton" onClick = "location.href='/pay/car.car_id'">
                            <button class="rent-button">Rent</button>
                        </a> -->
                        <form class="centerButton" action="/pay/<%= car.car_id %>" method="GET">
                            <button class="rent-button" type="submit">Rent</button>
                        </form>
                        <div class="group-column">
                            <p class="cost-day">$<%= car.car_price_per_day%> x 3 days</p>
                            <p>$<%=car.car_price_per_day * 3%></p>
                        </div>
                        <div class="group-column">
                            <p class="charge-cost">Charging cost</p>
                            <p>$0.05 per mile</p>
                        </div>
                        <hr>
                        <div class="group-column-top">
                            <p class="total-cost">Total</p>
                            <p>> $<%=car.car_price_per_day * 3%></p>
                        </div>
                        </div>
                    </div>
                </section>
            </div>
            <section class="comment">
                <div class="review-box">
                    <div class="stars">
                        <span class="star" data-value="1">&#9734;</span>
                        <span class="star" data-value="2">&#9734;</span>
                        <span class="star" data-value="3">&#9734;</span>
                        <span class="star" data-value="4">&#9734;</span>
                        <span class="star" data-value="5">&#9734;</span>
                    </div>
                    <div class="textarea-container">
                        <textarea placeholder="Type reviews..."></textarea>
                        <button class="review-button" type="submit">Upload</button>
                    </div>
                </div>
                <script src="/public/review-star.js"></script>
            </section>
        </div>
        </main>

        <!-- Footer with Copyright & Contact Information -->
        <footer class="footer">
            <a href="/"><img class="logo" src= "../public/img/logo+name.png" alt="logo"></a>
            <a href="about-us.html"><p class="link">About Us</p></a>
            <a href="faq.html"><p class="link">Frequently Asked Questions</p></a>
            <a href="contact-us.html"><p class="link">Contact Us</p></a>
            <a href="customer-support.html"><p class="link">Customer Support</p></a>
            <p class="copyright">&copy; 2024 Wheely</p>

        </footer>
    </body>
</html>


