<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Junhee Park">
    <meta name="description" content="Result Page of the Wheely">
    <link rel="icon" type="image/png" href="../public/img/favicon.png" />
    <title>Wheely</title>
    
    <!-- normalize.css for cross-browser stuff -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- include required fonts -->
    <!-- Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <!--Link to my css -->
    <link rel="stylesheet" href="../public/style_main_results.css">

</head>
<body>
    <!-- Navigation Bar -->
    <nav class="top-nav">
        <li><a href="/"><img class="logo" src= "../public/img/logo+name.png" alt="logo"></a></li>
        <div class="navbar">
            <li class="upload-button"><a href="/car_upload_page">Upload my vehicle</a></li>
            <!-- <li><a href="#">Log-In</a></li> -->
        </div>
    </nav>
    <!-- Header Elements with Searchbar -->
    <header>
        <div class="motto">
            <div class="searchbar">
                <div class="search-container">
                    <form action="/search" method="get">
                        <div class="search-inputs">
                            <div class="input-group">
                                <label for="location">Location</label>
                                <input class="search-input search-field" type="text" name="location" placeholder="City, State, etc." aria-label="Location" id="location">
                            </div>
                            <!-- <div class="separator"></div> -->
                            <!-- <div class="input-group">
                                <label>From</label>
                                <input class="search-input search-field" type="date" name="from_date" aria-label="Start Date">
                                <input class="search-input search-field" type="time" name="from_time" aria-label="Start Time" step="900">
                            </div>
                            <div class="separator"></div>
                            <div class="input-group">
                                <label>Until</label>
                                <input class="search-input search-field" type="date" name="until_date" aria-label="End Date">
                                <input class="search-input search-field" type="time" name="until_time" aria-label="End Time" step="900">
                            </div> -->
                            <button class="search-button" type="submit">Search</button>
                        </div>
                        <!-- <div class="vehicle-icons">
                            <input type="radio" name="vehicle" id="sedan" value="sedan">
                            <label for="sedan"><img src="../public/img/sedan.png" alt="Sedan"></label>
                      
                            <input type="radio" name="vehicle" id="suv" value="suv">
                            <label for="suv"><img src="../public/img/suv.png" alt="SUV"></label>
                      
                            <input type="radio" name="vehicle" id="van" value="van">
                            <label for="van"><img src="../public/img/van.png" alt="Van"></label>
                      
                            <input type="radio" name="vehicle" id="sports" value="sports">
                            <label for="sports"><img src="../public/img/sports.png" alt="Sports car"></label>
                      
                            <input type="radio" name="vehicle" id="jeep" value="jeep">
                            <label for="jeep"><img src="../public/img/jeep.png" alt="Jeep"></label>
                      
                            <input type="radio" name="vehicle" id="electric" value="electric">
                            <label for="electric"><img src="../public/img/electric.png" alt="Electric car"></label>
                      
                            <input type="radio" name="vehicle" id="truck" value="truck">
                            <label for="truck"><img src="../public/img/truck.png" alt="Truck"></label>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- Results Cards -->
    <main class="resultss">
        <div class="car-results">
            <section class="title-section results">
                <h1>Results</h1>
            </section>
            <section class="cards-section">
                <div class="main-content">
                    <div class="carousel-container">
                        <div class="carousel-wrapper">
                            <% if (carList.length > 0) { %>
                                <% carList.forEach(function(car, index) { %>
                                    <div class="carousel-slide">
                                            
                                        <% const carImage = imageList.find(img => img.car_id === car.car_id); %>
                                        <img src="<%= carImage ? carImage.image : '../public/img/default-car.png' %>" alt="A picture of car">
                                        <div class="card-content" onClick="location.href='/cars/<%= car.car_id %>'">
                                            <p class="vehicle"><%= car.car_model %></p>
                                            <div class="details">
                                                <p class="rate">★<%= car.car_rating %></p>
                                                <p class="location"><%= car.parking_city %>, <%= car.parking_state %></p>
                                            </div>
                                            <p class="price">$<%= car.car_price_per_day %>/day</p>
                                        </div>
                                        <input type="checkbox" id="heart-btn-<%= index + 1 %>" class="heart-btn">
                                        <label for="heart-btn-<%= index + 1 %>" class="heart-icon"></label>
                                    </div>
                                <% }) %>
                            <% } else { %>
                                <p>No cars found matching your search query.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <!-- Footer with Copyright & Contact Information -->
    <footer class="footer">
        <a href="/"><img class="logo" src="../public/img/logo+name.png" alt="logo"></a>
        <a href="../public/about-us.html"><p class="link">About Us</p></a>
        <a href="../public/faq.html"><p class="link">Frequently Asked Questions</p></a>
        <a href="../public/contact-us.html"><p class="link">Contact Us</p></a>
        <a href="../public/customer-support.html"><p class="link">Customer Support</p></a>
        <p class="copyright">&copy; 2024 Wheely</p>
    </footer>

    <!-- Link to the new JavaScript file -->
    <script src="../public/carousel.js"></script>
</body>
</html>
